<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= character.status %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= character.species %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= character.gender %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= character.image %>
  </p>

  <p>
    <strong>Appearances:</strong>
    <%= character.appearances %>
  </p>

</div>
